{% extends 'admin_panel/master_page.html' %}

{% block title %}Détails Achat #{{ achat.id }}{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="card">
        <div class="card-header bg-info text-white">
            <h3 class="card-title">Détails de l'Achat #{{ achat.id }}</h3>
        </div>
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-3">Produit:</dt>
                <dd class="col-sm-9">{{ achat.produit.designation }}</dd>

                <dt class="col-sm-3">Client:</dt>
                <dd class="col-sm-9">{{ achat.client.user.get_full_name }}</dd>

                <dt class="col-sm-3">Quantité:</dt>
                <dd class="col-sm-9">{{ achat.quantite }}</dd>

                <dt class="col-sm-3">Prix unitaire:</dt>
                <dd class="col-sm-9">{{ achat.produit.prix_unitaire }} DH</dd>

                <dt class="col-sm-3">Montant total:</dt>
                <dd class="col-sm-9">{{ montant_total }} DH</dd>

                <dt class="col-sm-3">Date d'achat:</dt>
                <dd class="col-sm-9">{{ achat.created_at }}</dd>

            </dl>
            <div class="mt-4">
                <a href="{% url 'admin_panel:achat_update' achat.id %}" class="btn btn-warning">
                    <i class="fas fa-edit"></i> Modifier
                </a>
                <a href="{% url 'admin_panel:achats' %}" class="btn btn-secondary">
                    <i class="fas fa-arrow-left"></i> Retour
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}